.HistoryPage p {
  text-align: center;
  font-weight: 400;
  background-color: rgba(32, 32, 32, 0.9);
  color: white;
  padding: 2vw 5vw;
  margin-top: -6px;
  font-size: 3vw;
}

.App-Mobile.App-Portrait .HistoryPage p {
  font-size: 3vw;
}

.App-Mobile.App-Landscape .HistoryPage p {
  margin-top: 50vh;
  background: rgb(32, 32, 32);
  background: linear-gradient(rgba(32, 32, 32, 0.85), rgb(32, 32, 32) 50%);
}

.App-Desktop .HistoryPage p {
  width: 40%;
  margin: 5% 10%;
  font-size: 16pt;
}
